* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 47.7px;
    margin-top: 33px;
    margin-left: 12px;
    padding-top: 38px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-left: 12px;
    margin-top: 33px;
}

.flex-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.member {
    display: flex;
}

.displace {
    margin-top: 50px;
}

img {
    width: 138.72px;
    height: auto;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 5px;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 333px;
}

.team {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}

.position {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 13.25px;
    transform: rotate(90deg);
	transform-origin: left top 0;
    margin-left: 16.28px;
    margin-top: 0px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
    color: #a9a9a9;
    padding-top: 50px;
}

footer a {
    font-weight: 700;
    color: #a9a9a9;
}