/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

header {
  font-family: "PT-Serif-Bold";
  height: auto;
  margin: 0 0.5rem;
  max-width: 800px;
  margin-left: 0;
  margin-right: auto;
}

.header-div {
  margin-top: 2rem;
  width: clamp(300px, 50%, 500px);
}

.header-title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 47.7px;
}

.header-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  }


.header-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  width: 270px;
}

.profile-job {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 13.25px;
}

@media screen and (min-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 25px;
  }
  .header-div {
    text-align: left;
  }
  .header-description {
    font-size: 15px;
  }
}

.footer-div p,
#myName{
  color:#bdbdbd ;
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
    align-items: baseline;
    align-items:flex-start;
    justify-content:space-between;
    margin: 0 auto;
  }
  .header-title {
    transform: translateY(20%);
    padding-left: 2rem;
  }
  .header-div {
    text-align: left;
    padding-right:initial;

  }
}

/*...*/
/*main*/
main {
  margin: 4rem 0.7rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  max-width: 950px;
}

@media screen and (min-width: 950px) {
  main {
      margin: 5rem auto 8rem auto;
      grid-template-columns: repeat(3, 1fr);
  }
  .two,
  .four,
  .six {
    transform: translateY(30%);
  }
  .five {
    transform: translateY(45%);
  }
}

img {
  width: 100%;
}

.profile-details {
  display: grid;
  grid-template-columns: 90% 10%;
}

.profile-card {
  margin-bottom: 3.5rem;
}

.two,
.four,
.six {
    transform: translateY(20%);
}

.profile-job {
  font-size: 7pt;
  letter-spacing: 2px;
  font-weight: lighter;
  font-family: "PT-Serif-Regular";
  writing-mode: vertical-lr;
  padding-left: 0.1rem;
}

.profile-name {
  font-family: "Poppins-Regular";
  font-size: 10pt;
  padding: 0.5rem 0 0 0;
}

@media screen and (min-width: 500px) {
  .profile-job {
    font-size: 10pt;
  }
  .profile-name {
    font-size: 13pt;
  }
}

/*...*/
/*footer*/
footer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4rem;
  margin-top: 3rem;
}

footer u {
  font-weight: bolder;
}

.footer-div {
  font-family: "Poppins-Regular";
  color: grey;
  font-size: 10pt;
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  footer {
    height: 7rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  footer {
    height: 10rem;
  }
  .footer-div {
    font-size: 13pt;
  }
}

/*...*/
/*...*/
/*# sourceMappingURL=main.css.map */



/* /* /*Mobile First*/
/* .box {
  padding: 5px;
  }
.sidebar {
  grid-area: sidebar;
  }
.sidebar2 {
  grid-area: sidebar2;
  }
.sidebar3 {
  grid-area: sidebar3;
  }
.sidebar4 {
  grid-area: sidebar4;
  }
.sidebar5 {
  grid-area: sidebar5;
  }
.content {
  grid-area: content;
  }
.header1 {
  grid-area: header1;
  }
.header2 {
  grid-area: header2;
  }
.footer {
  grid-area: footer;
  }
.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  color: #444;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header1 header1" "header2 header2" "sidebar content" "sidebar2 sidebar3" "sidebar4 sidebar5" "footer footer";
  }
.title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 47.7px;
  }
    
.subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin-left: 12px;
  margin-top: 33px;
  }
    
.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 5px;
  margin-left: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 270px;
  }
    
.position {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 13.25px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float:right;
  float:initial
  }
    
img { max-width: 90%;
      height: auto;
      float:left }
    
.footer,
.footer a {
  text-align: center;
  color:#bdbdbd ;
  }

.content,
.sidebar3,
.sidebar5 {
  padding-top: 50px;
  }
/*Medium Displays*/
/* @media only screen and (min-width: 616px){
.box {
    padding: 5px;
    margin-left: 70px;
    margin-right: 70px;
    }
.content,
.sidebar3,
.sidebar5 {
  padding-top: 50px;
  }
}
@media only screen and (min-width: 900px){
.box {
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    }
.wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header1 header1 header1 header2 header2 header2" 
                        "sidebar sidebar  content content sidebar2 sidebar2" 
                        "sidebar3 sidebar3 sidebar4 sidebar4 sidebar5 sidebar5" 
                        "footer footer footer footer footer  footer";
  }
.content{
  padding-top: 50px;
  }
.sidebar4{
  padding-top: 50px;
  }
.position{
  float:right;
  float:initial
}
} */


/*Big Displays*/
/* @media only screen and (min-width: 1060px) {
  .box {
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    }
.wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header1 header1 header1 header2 header2 header2" 
                        "sidebar sidebar  content content sidebar2 sidebar2" 
                        "sidebar3 sidebar3 sidebar4 sidebar4 sidebar5 sidebar5" 
                        "footer footer footer footer footer  footer";
  }
.content{
  padding-top: 50px;
  }
.sidebar4{
  padding-top: 50px;
  }
} */